@model PasswordRecoveryConfirmModel
@using SmartStore.Web.Models.Customer;
@{
	Layout = "_Layout";

	Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}

<div class="hero-wrap hero-wrap-2" style="background-image: url('/Content/theme/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-end justify-content-start">
			<div class="col-md-8 ftco-animate text-center text-md-left mb-5">
				<p class="breadcrumbs mb-0"><span class="mr-3"><a href="@Url.Action("Index","Home")">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Login</span></p>
				<h1 class="mb-3 bread">Reset Password</h1>
			</div>
		</div>
	</div>
</div>
<div class="whitebg">
	<div class="pagewidth">
		<div class="container">
			<div class="page password-recovery-page">
				<div class="page-title">
					<h1>@T("Account.PasswordRecovery")</h1>
				</div>
				<div class="page-body">
					@if (!String.IsNullOrEmpty(Model.Result))
					{
						<div class="alert alert-success">
							@Model.Result
						</div>
					}
					@if (!Model.SuccessfullyChanged)
					{
						using (Html.BeginForm("Customer", "PasswordRecoveryConfirm", FormMethod.Post, new { @class = "row" }))
						{
							<div class="col-12 col-lg-9 col-xl-8">
								@Html.ControlGroupFor(model => model.NewPassword, editorType: InputEditorType.Password, required: true, breakpoint: "md")
								@Html.ControlGroupFor(model => model.ConfirmNewPassword, editorType: InputEditorType.Password, required: true, breakpoint: "md")
								<div class="form-group row">
									<div class="col">
										<input type="submit" name="set-password" class="btn btn-danger btn-lg" value="@T("Account.PasswordRecovery.ChangePasswordButton")" />
									</div>
								</div>
							</div>
						}
					}
				</div>
			</div>
		</div>
	</div>
</div>
